body{   
    font-family: 'Redressed', cursive;
    font-weight: 100;
    margin: 0;      
}
#margintop{
    margin-top: 7%;
}
.main-heading{ 
    margin-left: 10px;
    padding-left: 8px;
    border-left: 3px solid;
    border-image: linear-gradient( rgb(255, 123, 0), rgb(187, 71, 17));
    border-image-slice: 1;
    font-size: 50px;
}
h1 span {
    color: rgb(240, 8, 47);
}
p{ 
    font-size: 22px;
}
p span {
    color: rgb(235, 0, 59);
}    
.display {
    display: flex;
}
.halfwidth{
    width: 40%;
    margin-left: 7%;
    padding-left: 2%;
}
.halfwidth img {
    width: 80%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient( rgb(243, 115, 64), rgb(212, 63, 120) );
    padding: 10px 50px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
.middle-heading{
    text-align: center;
    font-size: 40px; 
}
#mission{ 
    width: 20%;
    background-color: rgb(219, 237, 245);
    margin-left: 5%;
    padding: 1.5% 4%;
    border-radius: 10px;

}
#mission img {
    width: 50%;
    padding-left: 10px;
}
#middle {
    display: flex;
    margin: 0;
}
#vision { width: 20%;
    background-color: rgb(242, 245, 219);
    margin-left: 3%;
    padding: 1.5% 4%;
    border-radius: 10px;
}
#vision img{
    width: 50%;
    padding-left: 10px;  
}
#goals {
    width: 20%;
    background-color: rgb(245, 223, 219);
    margin-left: 3%;
    padding: 1.5% 4%;
    border-radius: 10px;
}
#goals img{
    width: 50%;
    padding-left: 10px; 
}
.last{
    padding-top: 10%;
    padding-left: 5%;
    display: flex;
    margin: 0;
    width: 80%;
}
.image img{
    width: 90%;
}
.heading2{ padding: 4% 4% 2%;
    font-size: 35px;
}
.para { font-size: 23px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}
.image2 img{
    padding-left: 190px;
    padding-right: 20px;
    width: 90%; 
}
.last-heading{
    text-align: center;
    font-size: 3em;
    padding-top: 10%;
}
#e-learning{
    width: 95%;
}
#e-learning img {
    width: 110%;
    height: 100%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;   
    box-shadow: 2px 4px 20px gray;    
}
.para2{
    padding-left: 15%;
    text-align: justify;
    font-size: 1.5em;
    padding-top: 25px;
}
.last-not-least{
    padding-left: 15%;
    font-size: 30px;
}
.last-anchor{
    margin-left: 15%;
    background: linear-gradient( rgb(243, 115, 64), rgb(212, 63, 120) );
    padding: 10px 50px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
footer {
    margin-top: 10%;
    padding: 5px ;
    background-image: linear-gradient(rgb(255, 115, 51), rgb(260, 174, 68), rgb(231, 122, 49));
    text-align: center;
}
